.tiles {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* Optional: allows wrapping to a new row if space runs out */

    .tile {
        width: 20rem;
        height: 30rem;
    }

        .tile-center {
            background-color: greenyellow;
        }
}

/* Media query for smaller screens */
/* @media (max-width: 768px) {
    .tiles {
        flex-direction: column;
        align-items: center;
    }

    .tile {
        width: 100%;
        max-width: 20rem;
    }
} */