.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.content {
    flex: 1;
    max-width: 600px;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.ctaButton {
    padding: 0.75rem 2rem;
    background-color: #74C234;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: #009378;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .content {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .ctaButton {
        font-size: 1rem;
    }
}