.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  margin-top: 10rem;
  overflow: hidden;
  width: auto;
  height: auto;
}

.card {
  background-color: #fff;
  padding: 2rem;
  height:auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 0 0 30%; /* Each card takes 30% of the width */
  transition: background-color 0.5s ease, color 0.5s ease;
  opacity: 0.6; /* Non-active cards are semi-transparent */
}

.activeCard {
  background-color: #74c234; /* Active card color */
  color: #fff; /* Text color for the active card */
  transform: scale(1.05); /* Slightly enlarge the active card */
  opacity: 1; /* Fully opaque for the active card */
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}
.card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .carousel {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 1.5rem;
    flex: 0 0 90%; /* Make cards wider on smaller screens */
  }
}
