/* Footer.css */
.footer_container{
  margin:  2rem 0 5rem;
}
.footer {
  background-color: #7bc537;
  /* Dark background color */
  color: #ecf0f1;
  /* Light text color */
  padding: 20px 0;
  /* Padding for the footer */
  text-align: center;
  /* Center align text */
 

}

.footer__container {
  min-height: 10rem;
  display: flex;
  justify-content: space-around;
  /* Distribute space between elements */
  align-items: center;
  flex-wrap: wrap;
  /* Wrap content on smaller screens */
}

.footer__links {
  list-style: none;
  display: flex;
  gap: 15px;
  /* Space between links */
  margin: 0;
  padding: 0;
}

.footer__link {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: #3498db;
  /* Link color on hover */
}

.footer__copy {
  margin-top: 10px;
  font-size: 0.9rem;
  /* Slightly smaller text */
}

.footer__copy a {
  color: #3498db;
  /* Link color in footer */
  text-decoration: none;
}

.footer__copy a:hover {
  text-decoration: underline;
  /* Underline on hover */
}


/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}